body {
    background-color: #000;
    color: #fff;
}
.facebox {
    width: 30em;
    height: 30em;
}
.john {
    width: 10em;
    height: 10em;
    float: left;
    background: url('../image/JGCpic.jpg');
    background-size: cover;
    display: block;
    border: 0.2em solid #bf1e2d;
    border-radius: 7.5em;
    -webkit-border-radius: 7.5em;
    -moz-border-radius: 7.5em;
    margin: 1em;
  }
  .nameFront {
      font-size: xx-large;
  }