body {
    background-color: #000;
    color: #fff;
}
.facebox {
    width: 100%;
    height: 12em;
}
.john {
    width: 10em;
    height: 10em;
    float: left;
    background: url('../image/JGCpic.jpg');
    background-size: cover;
    display: block;
    border: 0.2em solid #bf1e2d;
    border-radius: 7.5em;
    -webkit-border-radius: 7.5em;
    -moz-border-radius: 7.5em;
    margin: 1em;
}
.nameFront {
    font-size: xx-large;
    padding-top: 2em;
}
.navbar {
    padding: 1em;
    width: 20em;
    height: 40em;
    float: left;
}
.navbar ul{
    /*Remove all spacings from the list items*/
    margin: 0;
    padding: 0;
    cursor: default;
    list-style-type: none;
    display: inline;
}
.navbar li {
    font-size: large;
    padding-bottom: 1em;
}
li:hover {
    color: greenyellow;
    font-size: x-large;
}
.contentBox {

}